
@font-face {
    font-family: 'WeChatNumber-151125';
    src: url('~@/common/css/font/wechatNumber/WeChatNumber-151125.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


.WeChatNumber{
	font-family: 'WeChatNumber-151125';
}

